a {
  color: white;
}

.grid-container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-column-gap: 4%;
  grid-row-gap: 1em;
}

.grid-child-0 {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2; 

}

.grid-child-1 {
  grid-column-start: 2; 
  grid-column-end: 5; 
  grid-row-start: 1; 
  grid-row-end: 2; 

}

.grid-child-2 {
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 2; 
  grid-row-end: 3; 

}

.grid-child-3 {
  grid-column-start: 3; 
  grid-column-end: 5; 
  grid-row-start: 2; 
  grid-row-end: 3; 

}

.grid-child-4 {
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 3; 
  grid-row-end: 4; 
}

.grid-child-loading {
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 2; 
  grid-row-end: 4; 
}

.center {
  margin: 0 auto;
}

.padding {
  padding: 10px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

.tweet{
  max-width: 500px;
}

.tweet-content {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
  min-height: 300px;
}

img#display-image {
    width: 100%;
}

.tweet-button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  margin-top: 1em;
  background: #1DA1F2;
}

.tweet-button a {
  text-decoration: none;
}

.tweet-button h3 {
  margin: 0;
}

.logo {
  border-radius: 50%;
  max-width: 200px;
}

img.logo {
  margin: 0 auto;
  display: block;
}

.btn-text {
  text-align: center 
}

select {
  width: 100%;
  background: #1DA1F2;
  color: #ffffff;
  border-color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: .2em;
}

h3 {
  font-size: 2em;
  margin-bottom: .5em;
}

h5 {
  font-size: 1em;
}


@media screen and (max-width: 640px) {
  .grid-container {
    display: block;
  }

  img.logo {
    margin-bottom: 10px;
  }

  h1 {
  font-size: 2em;
  margin-bottom: .2em;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: .5em;
  }

  h5 {
    font-size: 1em;
  }

}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}