a {
  color: white;
}

.grid-container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  grid-column-gap: 4%;
  grid-row-gap: 1em;
}

.grid-child-0 {
  grid-column-start: 1; 
  grid-column-end: 2; 
  grid-row-start: 1; 
  grid-row-end: 2; 

}

.grid-child-1 {
  grid-column-start: 2; 
  grid-column-end: 5; 
  grid-row-start: 1; 
  grid-row-end: 2; 

}

.grid-child-2 {
  grid-column-start: 1; 
  grid-column-end: 3; 
  grid-row-start: 2; 
  grid-row-end: 3; 

}

.grid-child-3 {
  grid-column-start: 3; 
  grid-column-end: 5; 
  grid-row-start: 2; 
  grid-row-end: 3; 

}

.grid-child-4 {
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 3; 
  grid-row-end: 4; 
}

.grid-child-loading {
  grid-column-start: 1; 
  grid-column-end: 5; 
  grid-row-start: 2; 
  grid-row-end: 4; 
}

.center {
  margin: 0 auto;
}

.padding {
  padding: 10px;
}

p {
  line-height: 1.5em;
  margin: 0;
}

.tweet{
  max-width: 500px;
}

.tweet-content {
  border: 1px solid #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

img#display-image {
    width: 100%;
}

.tweet-button {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100px;
  margin-top: 1em;
}

.tweet-button a {
  text-decoration: none;
}

.tweet-button h3 {
  margin: 0;
}

.logo {
  border-radius: 50%;
}

.btn-text {
  text-align: center 
}

select {
  width: 100%;
  background: #1DA1F2;
  color: #ffffff;
  border-color: #ffffff;
  font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: .2em;
}

h3 {
  font-size: 2em;
  margin-bottom: .5em;
}

h5 {
  font-size: 1em;
}


@media screen and (max-width: 640px) {
  .grid-container {
    display: block;
  }

  img.logo {
    max-width: 200px;
    margin: 0 auto;
    display:block;
    margin-bottom: 10px;
  }

  select {
    margin-bottom: 20px;
  }

  h1 {
  font-size: 2em;
  margin-bottom: .2em;
  }

  h3 {
    font-size: 1.25em;
    margin-bottom: .5em;
  }

  h5 {
    font-size: 1em;
  }

}